@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-family: 'Abril Display';
    text-transform: uppercase;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.hero {
    background-image: url('images/hero-bg.jpg');
}

.starry {
    background-image: url('images/starry-bg.jpg');
    background-position-y: top;
}

.starry-end {
    background-image: url('images/page-end.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* TABLET ONLY */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 1.875rem; /* 24px */
        line-height: 2.25rem; /* 32px */
    }
}

/* MOBILE AND TABLET */
@media screen and (max-width: 1023px) {

}

/* MOBILE ONLY */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
}